.advertising {
  display: flex;
  flex-direction: column;
  width: 27%;
}

.advertising-image {
  width: 100%;
}

.calendar {
  background-color: #f8f8f8;
  padding: 13px 25px;
}

.calendar h2 {
  font-size: 16px;
  color: #ff8322;
  border-bottom: 1px solid #ccc;
  padding: 13px 0;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  text-align: right;
}

.days p {
  width: 20px;
  height: 25px;
}
